<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>User List</h2>
  </div>
  <p class="my-5">
    <a class="btn btn-primary" href="/create-user" routerLink="create-user">Add New User</a>
  </p>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users | async">
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td><span *ngFor="let role of user.roles">[{{role.name}}]</span></td>
        <td><button (click)="deleteUser(user.id)" class="btn btn-danger">Delete</button>
          <button (click)="updateUser(user.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
          <button (click)="userDetails(user.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

